* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
}

body:hover {
    background-color: bisque;
}

.container {
    width: 80vw;
    height: 500px;
    background-image: url(Sidhu\ moose\ wala.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.container .nav {
    padding: 20px;
}

.container .nav .logo {
    float: left;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.container .nav .navitem {
    float: right;
    padding-right: 20px;

}

.container .nav .navitem a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;

}

.container .nav .navitem a:hover {
    color: white;
}

.container .section {
    width: 600px;
    height: 250px;
    transform: translate(40px, 80px);
}

.container .section .text {
    letter-spacing: 2px;
}

.container .section .content .smw {
    font-size: 50px;
    font-weight: bolder;
}